<div class="sidebar_inner">
    <div class="logo">
        <img src="/images/CX_Logo.png"/>
    </div>
    <div class="sidebar_menu_outer">
        <ul class="sidebar_menu">
            <li><a href="#">Haulge Exchange</a></li>
            <li><a href="#">Finance Manager</a></li>
            <li><a href="#">Date</a></li>
            <li class="active"><a href="#">Dispute Resolution Centre</a></li>
        </ul>
    </div>
</div>