
<%- include('./partials/head-logged-new.ejs'); %>
<main>
    <section class="sidebar">
        <%- include('./partials/sidebar.ejs'); %>
    </section>
    <section class="main_outer">
        <div class="main_header">
            <h1 class="main_header_title page_title">Account Receivable</h1>            
        </div>
        <div class="account_recievabel_menu_outer">
            <ul class="account_recievabel_menu">
                <li><a href="#">Overview</a></li>
                <li class="active"><a href="#">All</a></li>
                <li><a href="#">Ready to invoice</a></li>
                <li><a href="#">Awaiting payment</a></li>
                <li><a href="#">Paid</a></li>
                <li><a href="#">Customer</a></li>
                <li><a href="#">Archive</a></li>
            </ul>
        </div>

        <div class="account_recievabel_box-outer">
            <div class="account_recievabel_overview">
                <div class="amount">
                    <h3>£3000.00</h3>
                </div>
                <div class="invoice_owned">
                    <p>14 invoices owned to you</p>
                </div>
                <div class="dates">
                    <select name="" id="">
                        <option value="">Next 30 days</option>
                    </select>
                </div>
            </div>
            <div class="account_recievabel_table_outer">
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td style="width:65px">1</td>
                        <td style="width:calc(100% - 65px);">
                            <div class="account_recievabel_table_main">
                                <p>Bookings with missing invoices</p>
                                <a href="#">view</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65px">1</td>
                        <td style="width:calc(100% - 65px);">
                            <div class="account_recievabel_table_main">
                                <p>Bookings with missing invoices</p>
                                <a href="#">view</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65px">1</td>
                        <td style="width:calc(100% - 65px);">
                            <div class="account_recievabel_table_main">
                                <p>Bookings with missing invoices</p>
                                <a class="disabled" href="#">view</a>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:65px">1</td>
                        <td style="width:calc(100% - 65px);">
                            <div class="account_recievabel_table_main">
                                <p>Bookings with missing invoices</p>
                                <a href="#">view</a>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </section>
</main>

<%- include('./partials/footer.ejs'); %>